services:
  backend:
    build:
      context: ./backend
    container_name: soclinq_backend
    command: >
      daphne -b 0.0.0.0 -p 8000 soclinq_backend.asgi:application
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: unless-stopped

  db:
    image: postgis/postgis:15-3.3
    container_name: soclinq_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"   # optional (remove in prod)
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: soclinq_redis
    ports:
      - "6379:6379"   # optional (remove in prod)
    restart: unless-stopped

volumes:
  postgres_data:
